*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    background-color: #eff4fd;
    height: 100vh;
    width: 100%;
    position: relative;
}

.logo{
    width: 20vh;
}

nav{
    display: flex;
    width: 84%;
    margin:auto;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.details{
    margin-left: 8%;
    margin-top: 8%;
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 10px;
}

span{
    color: orange;
}

.details p{
    padding: 40px 10px;
}

.details a{
    background-color: #212121;
    text-decoration: none;
    padding: 10px 18px;
    font-weight: bold;
    color: white;
    display: inline;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .Shape{
    bottom: 40px;
}

.images:hover .Aastha{
    left: 45%;
}